.venv
.env
all_cards.txt
Keywords.json
prices_cache.json
scryfall_json.txt
full_data.csv
archived_playground.py
.DS_Store
photos/
!photos/hobitci4.jpg
processed_image.jpg
temp_uploaded_image.jpg
json.txt